<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>定时器轮播图使用方式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECCA60DC1CF8224800227006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCA60F51CF8224900227006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCA61001CF8224900227006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
